@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro&display=swap');

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 822px;
    background-image: url('assets/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.project {
    position: absolute;
    top: 45px;
    left: 10%;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 49px;
    width: 100%;
    /* background-color: #39C2D7; */
}

.nav-s {
    list-style-type: none;
    width: 25%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #da2121; */
}

.nav-s a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.nav-s a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-s a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
  
/* .nav-s a:target::before {
    visibility: visible;
    transform: scaleX(1);
} */

.nav-s li {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 10px;
}

.Hero__block {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.Hero__block h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 386px;
    height: 118px;
    margin-top: 13px;
    margin-bottom: 42px;
}

.Hero__block h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

.Main {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 700px;
    color: #000;
    background-color: #EEEEEE;
    z-index: -1;
}

.Main h2 {
    width: 669px;
    height: 119px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    margin-top: 87px;
    margin-bottom: 40px;
}

.Main h3 {
    width: 426px;
    height: 57px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    margin-bottom: 48px;
}

.Main .Main__Lorem {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 907px;
    height: 194px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0 auto;
    z-index: 3;
    /* background-color: aqua; */
}

.Main .Main__Lorem p:nth-child(1) {
    width: 408px ;
}

.Main .Main__Lorem p:nth-child(2) {
    width: 416px ;
}

.Main button {
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;   
    text-transform: uppercase;
    padding: 5px 17px 6px 18px;
    border: none;
    margin-top: 22px;
    margin-bottom: 98px;
    cursor: pointer;
}

.Learn-more {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 666px;
    color: #fff;
    background-image: url('assets/background-learn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Learn-more h2 {
    width: 480px;
    height: 117px;    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 53px;
}

.Learn-more button {
    width: 150px;
    height: 150px;   
    font-size: 70px;
    background: #39C2D7;
    border-radius: 50%;
    color: #FFFFFF;
    border: none;
    padding-left: 15px;
    cursor: pointer;
}

.Learn-more h3 {
    width: 390px;
    height: 102px;    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 90px;
}

footer {
    width: 100%;
    height: 170px;
    background: #464547;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-family: 'Source Sans Pro';
    padding-top: 39px;
    padding-left: 153px;
    padding-right: 153px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}

footer p span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 16px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .col-1{
    grid-column: 1/2;
}

footer .col-3{
    grid-column: 3/4;
}

footer .col-6{
    grid-column: 6/8;
}

footer .row-1{
    grid-row: 1/2;
}

footer .row-2{
    grid-row: 2/3;
}

/* ------ NO "RESPONSIVE" DESIGN ------ */

/* .width-1200 {width: 1200px;}
.nav-s {width: 433px;}
.project{position: absolute;left: 152px;}  */
